.contain{
	width: 600px;
	height: 820px;
	background: #f0f0f0;
}
*{
	margin: auto;
	text-align: center;
	font-size: 34px;
}
.header{
	width: 600px;
	height: 50px;
	background: #29bde0;
	position: relative;
}
.menu{
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	width: 60px;
	position: absolute;
	color: white;
	left: 20px;

}
.lastgame{
	width: 550px;
	height: 60px;
	margin: 15px auto;
	background: white;
	line-height: 60px;
	font-size: 40px;
}
.gamechoice{
	width:550px;
	height: 650px;
	position: relative;
	background: white;
	font-size: 30px;
}
.gamechoice-name{
	color: orange;
	border-bottom: orange 2px solid;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
}
.gamechoice-changeleft{
	border-right: 20px orange solid;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	left: 8px;
	top: 295px;
}
.gamechoice-changeright{
	border-left: 20px orange solid;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	position: absolute;
	right: 8px;
	top: 295px;
}
.gamechoice-introduce{
	width: 480px;
	height: 475px;
}
.gamechoice-introduce1{
	width: 450px;
	height: 100px;
	line-height: 100px;
	background: #29bde0;
	color:white;
	margin: 40px auto;
	margin-bottom: 60px;
}
.gamechoice-introduce1::before{

}
.gamechoice-introduce2{
	width: 450px;
	height: 100px;
	background: #29bde0;
	color:white;
	line-height: 100px;
	margin: 40px auto;
	margin-bottom: 60px;
}
.gamechoice-introduce2::before{
	
}
.gamechoice-introduce3{
	width: 450px;
	height: 100px;
	background: #29bde0;
	color:white;
	line-height: 100px;
	margin: 40px auto;
	margin-bottom: 60px;
	}
.gamechoice-introduce3::before{
	
}
.gameturn{
	width: 53px;
	height: 20px;
	position: relative;
	margin: 20px auto;
}
.gameturn-point{
	background: #f0f0f0;
	width: 8px;
	height: 8px;
	border: 1px solid red;
	margin: 5px auto;
	margin-left: 3px;
	border-radius: 50%;
	float: left;
}


.playing{
	width: 600px;
	height: 820px;
	background: #f0f0f0;
	display:"none";
}
.playing-header{
	width: 600px;
	height: 50px;
	background: blue;
}
.playing-header_back{
	text-align: left;
	padding-left: 20px;
	color: white;
	height: 40px;
	line-height: 50px;
	display: block;
}
.playing-people{
	width: 560px;
	height: 50px;
	margin-top: 15px;
	background: white;
}
.playing-people_display{
	width: 560px;
	height: 100px;
	line-height: 100px;
	margin-top: 15px;
	background: white;
	font-size: 20px;
}
.playing-people_display>img{
	height: 90px;
}
.playing-people_displaydetail{
	height: 350px;
    margin: 15px;
    background: white;
    overflow: auto;
}
.idensend{
	width: 600px;
	height: 820px;
	background: #29bde0;
	color: white;
	display:'none';
}
.idensend_header{
	width: 600px;
	height: 50px;
	line-height: 50px;
	position: relative;
	border-bottom: 1px #f0f0f0 solid;
	font-size: 40px;
}
.idensend_header-back{
	line-height: 50px;
	position: absolute;
	left: 20px;
}
.idensend_header-end{
	line-height: 50px;
	position: absolute;
	right: 20px;
}
.idensend_display{
	width: 450px;
	margin-top: 50px;
	height: 450px;
	background: url(fanpai.png) #fdf0cc no-repeat center center;
	text-align: center;
	line-height: 820px;
	color: #29bde0;
}
.idensend_deliver{
	width: 480px;
	height: 70px;
	background: orange;
	margin-top: 100px;
	color: white;
}
.playing-people_input{
	position: relative;
	margin-top: 15px;
	width: 560px;
	height: 95px;
	background: white; 
	text-align: center;
}
.playing-people_input::before{
	position: absolute;
	content: '4';
	width: 60px;
	color: orange;
	font-size: 25px;
	line-height: 50px;
	top: 45px;
	left: 35px;
}
.playing-people_input::after{
	position: absolute;
	content: '18';
	width: 60px;
	color: orange;
	font-size: 25px;
	line-height: 50px;
	top: 45px;
	right: 35px;
}
#playing-people_dis{
	display: block;
	height: 45px;
	color: orange;
	font-size: 25px;
	line-height: 45px;
}
#peoplenum{
	width: 300px;
	line-height: 50px;
	height:50px;

}
#peoplenumadd{
	height: 30px;
	width: 30px;
	font-size: 24px;
	position: absolute;
	top: 55px;
	right: 85px; 
}
#peoplenumred{
	height: 30px;
	width: 30px;
	font-size: 24px;
	position: absolute;
	top: 55px;
	left: 85px;
}
.playing-send{
	height: 80px;
	line-height: 80px;
	background: orange;
	color: white;
	width: 540px;
	margin: 15px auto;
	border-radius: 2%;
}
.dayhuodong{
	
}
#dayofdetail{
	width: 400px;
	height: 40px;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	background: #FFFF99;
}
#intonight{
	width: 400px;
	height: 40px;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	background: #404040;
	color: white;
}
#checkplayermessage{
	width: 400px;
	height: 40px;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	background: #FFFF99;
}
.xingdong{
	width: 400px;
	height: 60px;
	margin: 20px auto;
	background: #E0E0E0;
	line-height: 60px;
}
.killman{
	width: 600px;
	height: 820px;
	display: none;
	background:url(killmanbg.jpg) no-repeat center center;
	position: relative;
}
.killman-title{
	font-weight: bold;
	text-align: center;
	width: 500px;
	margin: 20px auto;
	height: 60px;
	font-size: 60px;
	color: black;
	display: block;
	padding-top: 249px;
}
.killnum{
	width: 60px;
	height: 60px;
	font-size: 40px;
	position: absolute;
	bottom: 27px;
	left: 180px;
}
.killman-check{
	height: 80px;
	line-height: 80px;
	width: 200px;
	text-align: center;
	font-size: 80px;
	color: yellow;
	position: absolute;
	bottom: 16px;
	right: 127px;
	border:1px white solid;
	box-shadow: 0 0 10px white inset;
}
.find{
	display: none;
}
.judgebook{
	width: 600px;
	height: 820px;
	background: #f0f0f0;
	display:"none";
}
.judge_header{
	width: 600px;
	height: 50px;
	line-height: 50px;
	position: relative;
	background:#24a7c6;
	color: white;
}
.idensend_header-back{
	width: 30px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	left: 10px;
}
.idensend_header-end{
	width: 30px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	right: 10px;
}
.judge_day{
	width: 550px;
	height: 50px;
	line-height: 50px;
	background: white;
	color: #24a7c6;
	right: 10px;
	margin-top: 20px;
}
.judgeactionbox{
	width: 550px;
	height: 330px;
	background: white;
	margin-top:20px;
	padding-top: 40px;
}
.judge_action{
	background: #24a7c6;
	color: white;
	width: 400px;
	height: 40px;
	margin:20px auto;
}
.judge_detailedis{
	background: yellow;
	width: 550px;
	height: 190px;
	line-height: 30px;
	font-size: 24px;

}
.judge_footer{
	width: 600px;
	height: 100px;
	position: relative;
	background: #99dff0;
	bottom: 0;
	margin-top: 20px;
}
.judgeend{
	width: 180px;
	height: 70px;
	position: absolute;
	left: 20px;
	top:15px;
	line-height: 70px;
	font-size: 30px;
	background: orange;
	border-radius: 10px;
}

.judge_diary{
	position: absolute;
	font-size: 30px;
	width: 180px;
	line-height: 70px;
	height: 70px;
	top: 15px;
	right: 20px;
	background: orange;
	border-radius: 10px;
}
.result{
	width: 600px;
	height: 820px;
	background: #29bde0;
	display: none;
}
.result_header{
	height: 50px;
	width: 600px;
	line-height: 50px;
	position: relative;
	color: white;
	padding-left: 20px;
}
.result_header-home{
	background: url(home.png) no-repeat;
	background-size: 60px 50px;
	position: absolute;
	left: 0;
	height: 50px;
	width:60px;
}
.result_box{
	background: url(victory.png) no-repeat  center 100px;
	position: relative;
	width: 600px;
	height: 700px;
}
.result_box-victory{
	position: absolute;
	text-align: center;
	top:244px;
	left: 233px;
}
.result_box-rest{
	width: 600px;
	font-size: 24px;
	color: white;
	height:120px;
	line-height: 40px;
	position: absolute;
	bottom: 220px;
}
.result_box-detaildis{
	width: 580px;
	margin: 10px;
	background: white;
	color: #f0f0f0;
	font-size: 24px;
	height: 200px;
	line-height: 30px;
	position: absolute;
	bottom: 0;
	border-radius: 5px;
	color: black;
	text-align: left;
}
.result_footer{
	height: 60px;
	width: 600px;
}
.result_footer-again{
	display: block;
	height: 50px;
	width: 200px;
	font-size: 30px;
	background: orange;
	line-height: 50px;
	color:white;
	border-radius: 5px;
	margin-top : 5px; 
}
.judge_checkiden{
	width: 600px;
	height: 820px;
	background: #29bde0;
	display: 'none';
}
.judgecheck_header{
	height: 50px;
	width: 600px;
	border-bottom: 1px white solid;
	line-height: 50px;
	color: white; 
	position: relative;
}
.judgecheck_header-back{
	height: 50px;
	line-height: 50px;
	display: block;
	
	width: 50px;
	position: absolute;
	left: : 15px;
}
.judgecheck_header-end{
	height: 50px;
	line-height: 50px;
	display: block;
	
	width: 50px;
	position: absolute;
	right: 10px;
	top:0;
}
.judge_checkiden-box{
	width: 600px;
	height: 700px;
	overflow: auto;
}
.judge_checkiden-detail{
	width: 155px;
	height: 90px;
	border: 2px white solid;
	float: left;
	margin: 18px;
	font-size: 24px;
	line-height: 30px;
	background: #80FFFF;
}
.judge_checkiden-footer{
	height: 70px;
	width: 600px;
	border-top: 2px white solid; 
}
.judge_checkiden-start{
	display: block;
	height: 40px;
	width: 200px;
	color: white;
	text-align: center;
	line-height: 40px;
	margin-top: 15px;
	background: orange;
}